// fonts variable
$Neris-font: 'Neris', sans-serif;
$Poppins-font: 'Poppins', sans-serif;

// Font Sizes

$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-12: 0.75rem;
$font-size-21: 1.31rem;
$font-size-15: 0.938rem;

// colors variable
$main-color: #078ea0;
$primary-color: #8fccd4;
$primary-light: #f0f8f8;
$secondary-color: #15b9a2;
$sharp-green-color: #61ff27;
$active-green-color: #1dbf73;

$complete-color: #40a700;
$accept-color: #005aa7;
$pending-color: #f0b400;

$label-color: #4e4e4e;
$border-color: #e6e6e6;
$input-hint-color: #d5d5d5;
$grey-background-color: #f2f2f2;
$border-light: #b9b9b9;

$breadcrum-color: #7e7e7e;

// Font colors
$font-color-white: #fff;

//font style
$font-weight-light: 200;

// backgrount colors

$bg-transparent-clr: #00000000;
$grey-light: #cbcbcb;
$grey-dark: #a7a7a7;
$grey-darker: #706f6f;

//social icone
$green-light-bg: #e0f5f2;

// Dashboard color

$font-light-black: #676767;

$rating-colors: #ffc107;

//disable

$danger:red;
$secondary-danger: #a70101;

//Theme color
$sky-blue:#48c6e4;
$darkblue:#0d76bd;
$greentheme:#07a564;
$darktheme:#084b57;
$darkerbluetheme:#1c4da1;
